In [1]:
#Importing dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

In [15]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\saman\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [154]:
#Setting main dictionary
mars_dict = []
#Fail, was not able to insert it as it goes, so I will join everything in the end since it was sensitive to my variable types

**Mars News**

In [158]:
#Future reference for self, do NOT close the browser that just opened on the previos code! It won't open itself again
#Retrieving data fron redplanetscience.com
url = 'https://redplanetscience.com/'
browser.visit(url)

In [159]:
#Starting the beautiful soup with html
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [160]:
#Getting the latest news title
news_title = soup.find("div", class_="content_title").text
print(news_title)

NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate

In [161]:
#Getting latest Article Text along with News Title
news_p = article.find("div", class_ ="article_teaser_body").text
print(news_p)

Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.

In [ ]:
brower.quit()
#Not done yet so I'm not running it

**JPL Mars Space Images (Featured Image)**

In [27]:
#Retrieving data fron redplanetscience.com
url = 'http://spaceimages-mars.com/'
browser.visit(url)

In [28]:
#Starting the beautiful soup with html
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [32]:
#Using soup to find header and its featured image
image = soup.find("div", class_="header")
f_image = image.find("img", class_="headerimage")["src"]
featured_image_url = url + f_image
print(featured_image_url)
#Aw, a beautiful dusty cloud

http://spaceimages-mars.com/image/featured/mars3.jpg

In [ ]:
brower.quit()
#Not done yet so I'm not running it

**Mars Facts**

In [33]:
#Retrieving data fron redplanetscience.com
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [35]:
#Reading the table to see columns and size
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [40]:
#Transforming table to df
tables = pd.read_html(url)
mars_facts_df = tables[0]
mars_facts_df.head(5)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [39]:
#Checking our column names
mars_facts_df.columns

Index([['Mars - Earth Comparison', 'Mars', 'Earth'], 'Description', 'Value'], dtype='object')

In [42]:
#A fixed column name can't be written so it is better to get it from a function because it is not the same as the table goes
#We get the first values as the name for the columns
mars_facts_df.columns = mars_facts_df.iloc[0]
mf_2 = mars_facts_df.iloc[1:]
mf_2

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [45]:
#Setting our index with set index function 
mf_2.set_index('Mars - Earth Comparison', inplace = True)

In [46]:
#Use Pandas to convert the data to a HTML table string
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [49]:
#Export to html code
#Note to future self, use the DATAFRAME not the previous table since it is already in html
mf_2.to_html('table.html')

In [ ]:
brower.quit()
#Not done yet so I'm not running it

**Mars Hemisphere**

In [148]:
#Retrieving data fron redplanetscience.com
url = 'https://marshemispheres.com'
browser.visit(url)

In [149]:
#Starting the beautiful soup with html
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [150]:
#Finding the items
items = soup.find_all('div', class_='item')

In [151]:
#Dictionary created to store all items
hemisphere = []

In [152]:
#Running for function to go through all items
for x in items: 
    #Finding our hemisphere title
    title_item = x.find('h3').text
    find_href =  x.find('a', class_='itemLink product-item')['href']
    linksies = 'https://marshemispheres.com/'
    image_url = linksies + find_href
    #Making sure our browser visits the image url we just created with the find function and the variable containing the link
    browser.visit(image_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    image = soup.find('img', class_='wide-image')['src']
    final_image = usgs_url + image
    hemisphere.append({'Title':title_item, 'Image_Url':final_image})
    
print(hemisphere)
#Wow this for almost killed my spirit
#Note to self, if you run it over and over it piles links ontop, so run it from the start each time

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image_Url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_Url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_Url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_Url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [163]:
#Directionary retry
mars2={
    'news_title': news_title,
    'news_p': news_p,
    'featured_image_url': featured_image_url,
    'mars_facts':html_table,
#Inserting our dictionary into this dictionary
    'hemisphere_images': hemisphere
}

In [165]:
#Checking to make sure everything works
mars2

{'news_title': "NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate",
 'news_p': 'Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.',
 'featured_image_url': 'http://spaceimages-mars.com/image/featured/mars3.jpg',
 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_images': [{'Title': 'Cerberus Hemisphere Enhanced',
   'Image_Url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'Title': 'Schiaparelli Hemisphere Enhanced',
   'Image_Url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'Title': 'Syrtis Major Hemisphere Enhanced',
   'Image_Url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'Title': 'Valles Marineris Hemisphere Enhanced',
   'Image_Url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [166]:
#Closing our browser
browser.quit()